<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <figure><img src="images/banner.jpg" alt="banner" id="banner" /></figure>
      <section id="carrito">
        <h2>CARRITO DE COMPRAS</h2>
        <!--Productos del carrito de compras-->
        <section id="productos">
          <% data.forEach(element => { %>
          <article class="articulos">
            <figure>
              <img src="<%= element.image %>" />
            </figure>
            <section class="textoProductos">
              <h4 class="nombreProducto"><%= element.title %></h4>
              <p><%= element.type %></p>
              <p><%= element.description %></p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$<%= element.price %></h4>
          </article>
          <% }) %>
        </section>

        <!-- 
          <article class="articulos">
            <figure>
              <img
                src="images/cabernet-sauvignon.jpg"
                alt="cabernet sauvignon"
              />
            </figure>
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Cabernet Sauvignon</h4>
              <p>Cabernet Sauvignon</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$5072</h4>
          </article>
          <article class="articulos">
            <figure><img src="images/malbec.jpg" alt="malbec" /></figure>
            <section class="textoProductos">
              <h4 class="nombreProducto">Terravita Malbec</h4>
              <p>Malbec</p>
              <p>Maipu Mendoza</p>
              <a href="" id="sumaResta">- 1 +</a>
            </section>
            <a href=""><i class="fa-solid fa-trash-can tachoProductos"></i></a>
            <h4 class="precio">$5072</h4>
          </article>

        -->
        <!--Ventana con el total de la compra-->
        <section id="compraTotal">
          <h3 id="nombreProducto">RESUMEN DE COMPRAS</h3>
          <!--Elección del tipo de envio-->
          <form action="/cart" method="get">
            <fieldset id="envio">
              <label for="envio" id="selector"
                >Seleccione el tipo de envio</label
              >
              <section>
                <input
                  type="radio"
                  name="envio"
                  id="domicilio"
                  value="domicilio"
                />
                <label for="domicilio">Envio a domicilio</label>
              </section>
              <section>
                <input
                  type="radio"
                  name="envio"
                  id="tienda"
                  value="domicilio"
                />
                <label for="domicilio">Retiro en tienda</label>
              </section>
            </fieldset>
          </form>
          <section id="totalCompra">
            <h4 id="total">Total: $16.231</h4>
            <a href="" id="botonCompra">Iniciar compra</a>
            <a href="/search" id="botonSeguirComprando">Seguir comprando</a>
          </section>
        </section>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
