<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <figure>
        <img src="/images/banner.jpg" alt="banner" id="main_banner" />
      </figure>

      <section id="mainSection">
        <h2>CARRITO DE COMPRAS</h2>
        <!--Productos del carrito de compras-->
        <section id="cart">
          <% product.forEach(product => { %>
          <article class="cart_products">
            <figure>
              <img src="/products/<%= product.image %>" />
            </figure>
            <section class="cart_products_text">
              <h4><%= product.name %></h4>
              <p><%= product.type %></p>
              <p><%= product.location %></p>
              <form
                action="/products/cart"
                class="cart_products-button"
                method="post"
              >
                <fieldset class="cart_products-button-substractPlus">
                  <input
                    type="button"
                    value="-"
                    class="cart_products-button-substract"
                  />
                  <input
                    type="number"
                    name="cantidad"
                    class="cart_products-button-quantity"
                    placeholder="1"
                  />
                  <input
                    type="button"
                    value="+"
                    class="cart_products-button-plus"
                  />
                </fieldset>
                <button class="cart_products-button-cart">
                  <i class="fa-solid fa-cart-shopping"></i>
                </button>
              </form>
            </section>

            <form action="/products/cart" method="post">
              <!-- Proximamente method va a ser delete-->
              <button>
                <i class="fa-solid fa-trash-can cart_products-button-trash"></i>
              </button>
            </form>

            <h4 class="cart_products-price">$<%= product.price %></h4>
          </article>
          <% }) %>
        </section>

        <!--Ventana con el total de la compra-->
        <section id="total">
          <h3>RESUMEN DE COMPRAS</h3>
          <!--Elección del tipo de envio-->
          <form action="/products/cart" method="get">
            <fieldset id="total_send">
              <label for="envio" id="selector"
                >Seleccione el tipo de envio</label
              >
              <div>
                <input
                  type="radio"
                  name="envio"
                  id="domicilio"
                  value="domicilio"
                />
                <label for="domicilio">Envio a domicilio</label>
              </div>
              <div>
                <input
                  type="radio"
                  name="envio"
                  id="tienda"
                  value="domicilio"
                />
                <label for="domicilio">Retiro en tienda</label>
              </div>
            </fieldset>
          </form>
          <section id="total_buy">
            <h4 id="total_buy-title">Total: $21.811</h4>
            <!-- action a definir-->
            <form action="" method="post">
              <button id="total_buy-button-checkout">Iniciar compra</button>
            </form>
            <a href="/search" id="total_buy-button-keepBuying"
              >Seguir comprando
            </a>
          </section>
        </section>
      </section>
    </main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
