<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <figure>
        <img src="/images/banner.jpg" alt="banner" id="main_banner" />
      </figure>

      <article id="main_producto">
        <figure>
          <img src="/products/<%= product.image %>" />
        </figure>
        <section id="producto_compra">
          <h3 id="producto_compra-nombre">
            <%= product.nameProduct %> <%= product.type %>
          </h3>
          <h2 id="producto_compra-precio">$ <%= product.price %> .-</h2>
          <form
            action="/product/<%= product.id %>"
            id="producto_compra-boton"
            method="post"
          >
            <% if (user && user.category == "user") { %>
            <fieldset id="producto_compra-boton-sumaResta">
              <input type="button" value="-" id="producto_compra-boton-resta" />
              <input
                type="number"
                name="cantidad"
                id="producto_compra-boton-cantidad"
                placeholder="1"
              />
              <input type="button" value="+" id="producto_compra-boton-suma" />
            </fieldset>
            <% } %>
          </form>

          <section id="producto_compra-descripcion">
            <h4>DATOS ANALITICOS:</h4>
            <p><strong> Alcohol: </strong><%= product.alcohol %></p>
            <p><strong> Acidez total: </strong><%= product.acidez %></p>
            <p><strong> Azucar total: </strong><%= product.azucar %></p>

            <h4>CARACTERISTICAS DEGUSTATIVAS:</h4>
            <p><strong> Vista: </strong><%= product.vista %></p>
            <p><strong>Nariz: </strong><%= product.nariz %></p>
            <p><strong>Boca: </strong><%= product.boca %></p>
            <% if (product.otros) { %>
            <p><strong>Otros: </strong><%= product.otros %></p>
            <% } %>
          </section>

          <% if (user && user.category == "user") { %>
          <form
            action="/products/cart"
            class="producto_compra-boton-carrito"
            method="post"
          >
            <button id="producto_compra-boton-carrito-mobile">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button class="producto_compra-boton-carrito-texto">
              AGREGAR AL CARRITO
            </button>
          </form>
          <% } else if (user && user.category == "admin") { %>
          <form
            action="/products/delete/<%= product.id %>?m=DELETE"
            method="post"
            class="producto_compra-boton-carrito"
          >
            <button class="producto_compra-boton-carrito-texto">
              ELIMINAR
            </button>
          </form>
          <div class="producto_compra-boton-carrito">
            <a
              href="/products/edit/<%= product.id %>"
              class="producto_compra-boton-carrito-texto"
            >
              EDITAR
            </a>
          </div>

          <% } %>
        </section>
      </article>
    </main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
