<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>
      <section id="edit_caja">
        <h1 id="edit_caja-titulo">EDITAR PRODUCTO ID:<%= product.id %></h1>
        <form
          id="edit_editar-producto"
          action="/products/edit/<%= product.id %>?m=PUT"
          method="post"
          enctype="multipart/form-data"
        >
          <fieldset>
            <div class="edit_linea-form">
              <label for="brand" class="edit_texto">Marca: </label>
              <input
                type="text"
                name="brand"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.nameProduct.nameProduct : product.nameProduct.nameProduct %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="type" class="edit_texto">Categoria: </label>
              <input
                type="text"
                name="type"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.productType.type : product.productType.type %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="price" class="edit_texto">Precio: </label>
              <input
                type="text"
                name="price"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.price : product.price %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="discountPrice" class="edit_texto">Precio: </label>
              <input
                type="text"
                name="discountPrice"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.discountPrice : product.discountPrice %>"
                autocomplete="off"
              />
            </div>
            <figure id="edit_caja-imagen">
              <img src="/products/<%= product.images.path %>" alt="" />
              <p>Imagen previa</p>
            </figure>
            <div class="edit_linea-form">
              <label for="image" class="edit_texto">Imagen: </label>
              <input
                id="edit_campo-imagen"
                type="file"
                name="image"
                accept=".jpg"
                multiple
                autocomplete="off"
              />
            </div>

            <h3 class="edit_titulos">Datos analiticos:</h3>
            <div class="edit_linea-form">
              <label for="alcohol" class="edit_texto">Alcohol: </label>
              <input
                type="text"
                name="alcohol"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.alcohol : product.alcohol %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="acidez" class="edit_texto">Acidez total: </label>
              <input
                type="text"
                name="acidez"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.acidez : product.acidez %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="azucar" class="edit_texto">Azucar residual: </label>
              <input
                type="text"
                name="azucar"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.azucar : product.azucar %>"
                autocomplete="off"
              />
            </div>

            <h3 class="edit_titulos">Caracteristicas degustativas:</h3>
            <div class="edit_linea-form">
              <label for="vista" class="edit_texto">Vista: </label>
              <input
                type="text"
                name="vista"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.vista : product.vista %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="nariz" class="edit_texto">Nariz: </label>
              <input
                type="text"
                name="nariz"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.nariz : product.nariz %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="boca" class="edit_texto">Boca: </label>
              <input
                type="text"
                name="boca"
                class="edit_campo"
                minlength="4"
                value="<%= locals.oldData ? oldData.boca : product.boca %>"
                autocomplete="off"
              />
            </div>
            <div class="edit_linea-form">
              <label for="description" class="edit_texto">Otros: </label>
              <textarea
                type="text"
                name="description"
                id="edit_campo-descripcion"
                minlength="4"
                value="<%= locals.oldData ? oldData.otros : product.otros %>"
                autocomplete="off"
              >
              </textarea>
            </div>

            <div class="edit_botonera">
              <button class="edit_confirmar-edicion" type="submit">
                Confirmar modificaciones
              </button>
            </div>
          </fieldset>
        </form>

        <form
          id="edit_eliminar-producto"
          action="/products/delete/<%= product.id %>?m=DELETE"
          method="post"
          enctype="multipart/form-data"
        >
          <fieldset class="edit_botonera">
            <button class="edit_confirmar-edicion" type="submit">
              Eliminar el producto
            </button>
          </fieldset>
        </form>
      </section>
    </main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
