<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>

      <figure>
        <img src="/images/banner.jpg" alt="banner" id="main_banner" />
      </figure>
      
      <article id="main_producto">
        <figure>
          <img src="/<%= product.image %>" />
        </figure>
        <section id="producto_compra">
          <h3 id="producto_compra-nombre"><%= product.nameProduct %></h3>
          <h2 id="producto_compra-precio">$<%= product.price %></h2>
          <form
            action="/product/<%= product.id %>"
            id="producto_compra-boton"
            method="post"
          >
            <fieldset id="producto_compra-boton-sumaResta">
              <input type="button" value="-" id="producto_compra-boton-resta" />
              <input
                type="number"
                name="cantidad"
                id="producto_compra-boton-cantidad"
                placeholder="1"
              />
              <input type="button" value="+" id="producto_compra-boton-suma" />
            </fieldset>
          </form>
          <form action="/cart" id="producto_compra-boton-carrito" method="post">
            <button id="producto_compra-boton-carrito-mobile">
              <i class="fa-solid fa-cart-shopping"></i>
            </button>
            <button id="producto_compra-boton-carrito-texto">
              AGREGAR AL CARRITO
            </button>
          </form>

          <section id="producto_compra-descripcion">
            <h4>DATOS ANALITICOS</h4>         
              <p>Alcohol: <%= product.alcohol %></p>
              <p>Acidez total: <%= product.acidez %></p>
              <p>Azucar total: <%= product.azucar %></p>

            <h4>CARACTERISTICAS DEGUSTATIVAS</h4>
              <p>Vista: <%=  product.vista %></p>
              <p>Nariz: <%=  product.nariz %></p>
              <p>Boca: <%=  product.boca %></p>                 
          </section>    

        </section>
      </article>
    </main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
