<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <main>

      <nav class="search_secundary-navbar">
        <p id="search_burgermenu"><i class="fa fa-bars fa-2x"></i></p>
      </nav>

      <!--Barra de filtros-->
      <aside id="search_lateral">
        <h3 class="search_titulos"> Ordenar segun: </h3>
        <fieldset class="search_parametros">
          <form action="/orden" method="GET">
            <select class="search_ordenar" name="orden">
              <option value="precio">Precio</option>
              <option value="marca">Marca</option>
              <option value="categoria">Categoria</option>
            </select>
          </form>
        </fieldset>
        <h3 class="search_titulos">Mostrar:</h3>
        <fieldset class="search_parametros">
          <form action="/diplay" method="GET">
            <div class="search_mostrar">
              <input type="radio" name="mostrar" value="grilla" />
              <label for="grilla"> Grilla </label>
            </div>
            <div class="search_mostrar">
              <input type="radio" name="mostrar" value="lista" />
              <label for="lista"> Lista </label>
            </div>
          </form>
        </fieldset>
        <h3 class="search_titulos">Categorias</h3>
        <fieldset class="search_parametros">
          <form action="/diplay" method="GET"></form>
            <% searchCategorias.forEach(element => { %>
              <div class="search_categorias">
                <input type="radio" name="<%= element %>" value="<%= element %>" />
                <label for="lista"> <%= element %> </label>
              </div>
            <% }) %>
          </form>
        </fieldset>
      </aside>

      <!--Listado de productos-->
      <section class="main_grilla">
        <% product.forEach(product=> { %>
        <article class="main_articulos">
          <figure>
            <img src="/products/<%= product.image %>" />
          </figure>
          <h4 class="main_articulos-texto"><%= product.nameProduct %></h4>
          <h4 class="main_articulos-texto">$<%= product.price %></h4>
          <form action="/products/cart" method="post">
            <button class="articulos_boton" value="<%= product.id %>">
              Comprar
            </button>
          </form>
          <a href="/products/<%= product.id %>" class="articulos_boton">+Info</a>
        </article>
        <% }) %>
        
    </main>
    <footer><%- include('../partials/footer.ejs') %></footer>
  </body>
</html>
