<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <nav class="secundary-navbar-busqueda">
        <p id="burgerMenu"><i class="fa fa-bars fa-2x"></i></p>
      </nav>

      <section id="buscador">
        <article class="parametros-busqueda">
          <div id="form-ordenar">
            <form action="/orden" method="GET">
              <lebel class="titulos-buscador"> Ordenar segun: </lebel>
              <select class="ordenar" name="orden">
                <option value="precio">Precio</option>
                <option value="marca">Marca</option>
                <option value="categoria">Categoria</option>
              </select>
            </form>
          </div>
        </article>

        <article class="parametros-busqueda">
          <p class="titulos-buscador">Mostrar:</p>

          <div class="mostrar">
            <input type="radio" name="mostrar" value="grilla" />
            <label for="grilla"> Grilla </label>
          </div>
          <div class="mostrar">
            <input type="radio" name="mostrar" value="lista" />
            <label for="lista"> Lista </label>
          </div>
        </article>

        <article class="parametros-busqueda">
          <p class="titulos-buscador">Categorias</p>

          <div class="categorias">
            <input type="radio" name="categoria" value="malbec" />
            <label for="lista"> Malbec </label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="cabernet-sauvignon" />
            <label for="lista"> Cabernet Sauvignon </label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="cabernet-franc" />
            <label for="lista"> Cabernet Franc</label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="malbec" />
            <label for="lista"> Merlot </label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="syrah" />
            <label for="lista"> Syrah </label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="pinot-noir" />
            <label for="lista"> Pinot Noir </label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="chardonnay" />
            <label for="lista"> Chardonnay </label>
          </div>
          <div class="categorias">
            <input type="radio" name="categoria" value="sauvignon-blanc" />
            <label for="lista"> Sauvignon Blanc </label>
          </div>
        </article>
      </section>

      <section class="grilla">
        <h2>PRODUCTOS</h2>
        <% data.forEach(element => { %>         
        <article class="articulos">
          <img src="<%= element.image %>" />
          <section class="textoProductos">
            <h4 class="nombreProducto"><%= element.title %> </h4>
            <h4 class="precio">$<%= element.price %> </h4>
            <a href="" class="botonArticulo">Comprar</a>
            <a href="/product" class="botonArticulo">+Info</a>
          </section>
        </article>
        <% }) %>
        
        <h2>NOVEDADES</h2>
        <% data.forEach(element => { %>         
          <article class="articulos">
            <img src="<%= element.image %>" />
            <section class="textoProductos">
              <h4 class="nombreProducto"><%= element.title %> </h4>
              <h4 class="precio">$<%= element.price %> </h4>
              <a href="" class="botonArticulo">Comprar</a>
              <a href="/product" class="botonArticulo">+Info</a>
            </section>
          </article>
          <% }) %>
      </section>
    </main>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
